<h1 mat-dialog-title>{{data['name']}} #{{data['id']}}</h1>
<mat-dialog-content >
    <mat-grid-list cols="3" rowHeight="40px">
        <mat-grid-tile [rowspan]="4"><img [src]="data['sprites']['front_default']"/></mat-grid-tile>
        <mat-grid-tile>Height</mat-grid-tile>
        <mat-grid-tile>{{data['height']}}</mat-grid-tile>
        <mat-grid-tile>Weight</mat-grid-tile>
        <mat-grid-tile>{{data['weight']}}</mat-grid-tile>
        <mat-grid-tile>Abilities</mat-grid-tile>
        <mat-grid-tile>{{abilities}}</mat-grid-tile>
        <mat-grid-tile>Types</mat-grid-tile>
        <mat-grid-tile>
            <type-comp *ngFor="let item of data['types']" [type]="item['type']['name']"></type-comp>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="40px" *ngFor="let item of data['stats']">
        <mat-grid-tile>{{item.stat.name}}</mat-grid-tile>
        <mat-grid-tile [colspan]="2">
            <mat-progress-bar mode="determinate" [value]="item.base_stat/2"></mat-progress-bar>
        </mat-grid-tile>
    </mat-grid-list>
    <evolution-comp [url]="data['species']['url']"></evolution-comp>

</mat-dialog-content>